*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {

    margin-top: 20px;
    background-color: rgb(20, 20, 40);
}

p, h1 {

    color: white;
    text-align: center;
    font-family: Helvetica;
}

#stadtteil {

    font-size: max(20pt, 200%);
    margin: 20px;
}

#staedte {

    margin-left: auto;
    margin-right: auto;
}

#staedte td {

    padding: 2pt;
}

#staedte p {

    opacity: 0.5;
    margin-bottom: 10px;
}

#staedte td:hover p {

    opacity: 1.0;
}

#staedte img {

    max-height: 100px;
}

#scoreboard {

    margin-top: 20px;
}